@model ToDoWeb.Models.ToDo

@{
    ViewData["Title"] = "FinalizarTarefa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confima a exclusão da tarefa?</h1>

<div>
</div>
<div>
    <form asp-action="DeletarTarefa">       
        <input type="hidden" value="@Model.Id" name="id" />
        <input type="submit" value="Sim" class="btn btn-primary btn-lg" />
        <a asp-action="Index" class="btn btn-primary btn-lg">Não</a>
    </form>
</div>
