@model ToDoWeb.Models.ToDo

@{
    ViewData["Title"] = "FinalizarTarefa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confima a finalização da tarefa?</h1>

<div>
   
</div>
<div>
    <form asp-action="FinalizarTarefa">
       @*  @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) | *@
        <input type="hidden" value="@Model.Id" name="id" />
        <input type="submit" value="Sim" class="btn btn-primary btn-lg" />
        <a asp-action="Index" class="btn btn-primary btn-lg">Não</a>
    </form>
</div>
